/* added custom font family */
* {
  font-family: "EB Garamond", serif !important;
}

/* custom common heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
}

.h-fit-content {
  /* height: fit-content; */
  background-color: rgba(242, 95, 95, 0.2);
}

/* custom nav text styles */
.nav ul li {
  font-size: 1rem;
  color: #707070;
}

/* button custom styles */
.btn-custom {
  background: #b68c5a;
  color: #ffff;
  font-weight: 600;
}

/* custom banner styles */
.banner-custom {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.375rem;
}

.banner-custom h1 {
  color: #ffff;
}

.banner-custom p {
  color: #e7e7e7;
}

/* custom styles to main section */
main h1 {
  color: #414040;
}

main p {
  color: #707070;
}
.cards-custom {
  background: linear-gradient(180deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
  border: 1px solid #e7e7e7;
}

/* custom styles to clients section */
/* carousel */

.slider-img-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/slider-imges/slider-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.slider-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/slider-imges/slider-2.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-img-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/slider-imges/slider-3.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.client-img {
  width: 70px;
  height: 70px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.client-img img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
}

.client-description > p {
  color: #f3f3f3;
}

.client-title > h4,
.client-title > p {
  color: #ffff;
}

/* custom styles to contact section */
.contact-card {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
}

footer {
  background: #111111;
}

footer p {
  color: #cfcfcf;
}

footer h4 {
  color: #ffff;
}
